@use "vars";

@font-face {
  font-family: "Abril Fatface";
  font-weight: 400;
  src: url("/static/fonts/Abril_Fatface/AbrilFatface-Regular.ttf")
    format("truetype");
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.has-subtitle {
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  @media only screen and (max-width: vars.$bp-little) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  @media only screen and (max-width: vars.$bp-little) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  @media only screen and (max-width: vars.$bp-little) {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 1.75rem;
  @media only screen and (max-width: vars.$bp-little) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.25rem;

  p:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  list-style: disc inside;
}

li {
  padding-left: 1rem;
  line-height: 1.25rem;

  &:last-child {
    margin-bottom: 0.5rem;
  }
}

.is-abril {
  font-family: "Abril Fatface", serif;
}

.huge-text p,
.huge-text a,
.huge-text li {
  font-size: 1.5rem;
}

.big-text p,
.big-text a,
.big-text li {
  font-size: 1.25rem;
}

.large-text p,
.large-text a,
.large-text li {
  font-size: 1.125rem;
}

.content {
  padding: 5% 10%;

  &--large {
    padding: 5% 30%;
    @media only screen and (max-width: vars.$bp-large) {
      padding: 5% 20%;
    }
  }
}
