@import "../variables";

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  @media only screen and (max-width: $bp-large) {
    display: flex;
    flex-direction: column;
  }
  padding: 5% 10%;
  background: $dark-background;
  color: $light-sand;
  align-items: center;
  gap: 2rem;
  @media only screen and (max-width: $bp-large) {
    gap: 4rem;
  }
  align-content: center;

  &__logo {
    width: 33%;
    @media only screen and (max-width: $bp-large) {
      width: 20%;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    &--inline {
      flex-direction: row;
      justify-content: right;
      gap: 1rem;
      text-align: right;
      @media only screen and (max-width: $bp-large) {
        text-align: inherit;
        justify-content: center;
      }
    }
  }

  &__credits {
    text-align: right;
    @media only screen and (max-width: $bp-large) {
      text-align: center;
    }
  }
}
