@import "../../scss/variables";

.btn {
  &:hover {
    text-decoration: none;
    background: $dark-background;
    color: $light-background;
    transition: .3s;
  }

  display: inline-block;
  border: $dark-background 2px solid;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
  transition: .3s;
}