{{define "person"}}
    <div class="people__card" data-href="{{.Link}}">
        <img src="/{{.Image}}" alt="Skin de {{.Name}}" />
        <div class="people__card__content">
            <h5>{{.Name}}</h5>
        </div>
    </div>
{{end}}
{{define "person_desc"}}
    <div class="people__card" data-href="{{.Link}}">
        <img src="/{{.Image}}" alt="Skin de {{.Name}}" />
        <div class="people__card__content">
            <h5>{{.Name}}</h5>
            <p>{{ .Description }}</p>
        </div>
    </div>
{{end}}