{{define "season"}}
    {{if .Left}}
        <div
            class="presentation__season is-clickable"
            data-href="{{.Href}}"
        >
            <div class="content content--right">
                <h4>{{.Title}}</h4>
                {{range $i, $v := .Description}}
                    {{if le $i 1}}<p>{{$v}}</p>{{end}}
                {{end}}
                <a class="btn btn--little" href="{{.Href}}">
                    Découvrir la saison
                </a>
            </div>
            <img
                    src="{{getStaticPath .Image}}"
                    alt="{{.ImageAlt}}"
                    class="presentation__season__image"
            />
        </div>
    {{else}}
        <div
        class="presentation__season presentation__season--left is-clickable"
        data-href="{{.Href}}"
        >
            <img
                    src="{{getStaticPath .Image}}"
                    alt="{{.ImageAlt}}"
                    class="presentation__season__image"
            />
            <div class="content content--left">
                <h4>{{.Title}}</h4>
                {{range $i, $v := .Description}}
                    {{if le $i 1}}<p>{{$v}}</p>{{end}}
                {{end}}
                <a class="btn btn--little" href="{{.Href}}">
                    Découvrir la saison
                </a>
            </div>
        </div>
    {{end}}
{{end}}