@use "../vars";

.btn {
  &:hover {
    text-decoration: none;
    background: vars.$dark-background;
    color: vars.$light-background;
    transition: 0.3s;
  }

  display: inline-block;
  border: vars.$dark-background 2px solid;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
  transition: 0.3s;
}
