@use "../vars";

.tldr {
  background: vars.$light-background;
}

.rules {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5%;
  padding-bottom: 5%;
  & .rules__item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
