@use "../vars";

.team {
  &__presentation {
    background: vars.$dark-background;
    color: vars.$light-sand;
    text-align: center;

    & p {
      width: 75%;
      margin: 0.5rem auto;
    }
  }
}
