@import "../../scss/variables";

.hero {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: $bp-tiny) {
    height: 85vh;
  }
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 2fr 1fr;
  }
  @media only screen and (max-width: $bp-mid) {
    grid-template-columns: 1fr;
  }
  color: $light-sand;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &--dark {
    color: #000;
  }

  &--min {
    height: 60vh;
  }

  &__text {
    padding-left: 20%;
    @media only screen and (max-width: $bp-mid) {
      padding: 0;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $bp-mid) {
        text-align: center;
      }
    }
  }

  &__space {
    @media only screen and (max-width: $bp-mid) {
      display: none;
    }
  }
}