{{define "hero"}}
    <div class="hero {{if .Dark}} hero--dark {{end}}{{if .Min}} hero--min {{end}}" style="background-image: url('/static/{{.Image}}')">
    <div class="hero__text__container big-text">
        <div class="hero__text">
            <h1>{{.Title}}</h1>
            <p>{{.Description}}</p>
        </div>
    </div>
    <div class="hero__space"></div>
    </div>
{{end}}
