@import "../../scss/variables";

.presentation {
  &--right {
    text-align: right;
    @media only screen and (max-width: $bp-large) {
      text-align: left;
    }
  }

  &__smp {
    background: $dark-background;
    color: $light-sand;
    text-align: center;

    & p {
      width: 75%;
      margin: 0.5rem auto;
    }
  }

  &__architects-land {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $bp-little) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    text-align: left;
    padding: 0;
    gap: 2rem;
    align-items: center;
    align-content: center;
    background: $light-background;

    &__image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    &__text {
      max-width: 90%;
      padding: 5% 0;
      @media only screen and (max-width: $bp-little) {
        margin: 0 10%;
      }
    }

    & p {
      display: block;
      max-width: 60%;
      @media only screen and (max-width: $bp-large) {
        max-width: 70%;
      }
      @media only screen and (max-width: $bp-little) {
        max-width: 100%;
      }
      margin: 1.5rem 0;
    }
  }

  &__seasons {
    padding-top: 5%;
    padding-bottom: 5%;

    & h2 {
      text-align: center;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5rem;
      padding: 5% 0;
      align-items: center;
      align-content: center;
    }
  }

  &__season {
    position: relative;
    display: grid;
    padding: 0 5%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    align-content: center;
    transition: 0.3s color;
    transition-delay: 0.4s;
    @media only screen and (max-width: $bp-large) {
      display: flex;
      flex-direction: column-reverse;
    }

    & .presentation--left p {
      margin: 1.5rem auto 1.5rem 0;
    }

    & .presentation--right p {
      margin: 1.5rem 0 1.5rem auto;
    }

    & p {
      display: block;
      max-width: 83%;
      @media only screen and (max-width: $bp-large) {
        max-width: 100%;
      }
    }

    & h4 {
      @media only screen and (max-width: $bp-large) {
        text-align: center;
      }
    }

    &__image {
      width: 100%;
      @media only screen and (max-width: $bp-large) {
        width: 50%;
      }
    }

    & .presentation--left p {
      margin: 1.5rem auto 1.5rem 0;
    }

    & .presentation--right p {
      margin: 1.5rem 0 1.5rem auto;
    }
  }
}
