@import "../../scss/variables";

.information {
  background: $light-background;

  &__presentation {
    margin-top: 3rem;

    & img {
      width: 100%;
    }
  }
}

.player-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  overflow: scroll;

  &__skin {
    background: $dark-background;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  &__description {

    display: block;
    max-height: 100vh;
    width: 50%;
    text-align: center;
  }

  & h3, h4 {
    margin-top: 10%;
  }

  &__back {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    color: $light-sand;
  }
}
