@font-face {
  font-family: 'Abril Fatface';
  font-weight: 400;
  src: url("/fonts/Abril_Fatface/AbrilFatface-Regular.ttf") format("truetype");
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
  margin-bottom: 1.25rem;
}

.has-subtitle {
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 0.5rem;
}

.big-text p {
  font-size: 1.25rem;
}

.large-text p {
  font-size: 1.125rem;
}

.content {
  padding: 0 10%;
}
