@import "variables";

.presentation {
  padding-top: 5%;
  padding-bottom: 5%;
  &__smp {
    background: $dark-background;
    color: #fff;
    text-align: center;
  }
  &__architects-land {
    text-align: center;
    & h2 {
      text-align: center;
    }
    & p {
      display: block;
      width: 50%;
      margin: 1.5rem auto;
    }
  }
}
